body{
    width: 100vw;
    font-family: sans-serif;
}
#app{
    border: 1px solid blue;
    width: 70vw;
    margin: 10px auto;
    padding: 20px;

}

#app h1{
    margin: 0;
    padding-bottom: 10px;
}
span{
    color: blue;
    font-weight: bold;
}