* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    font-size: 40px;
}

nav {
    margin: auto 0;
}

#menu li {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
    width: 100px;
    transition-property: border-bottom;
    transition-duration: 2s;
    transition-delay: 1s;
    text-align: center;
}

#menu li {
    text-transform: capitalize;
    font-family: sans-serif;

}

#menu li :hover {
    border-bottom: 1px solid green;
    transition:border-bottom 3s ease;
}

.bloc {
    width: 300px;
    height: 300px;
    background-color: chocolate;
    margin: 20px;
}

.bloc1 {
    float: left;
    transition:all 3s ease;

}

.bloc1:hover {
    width: 600px;
    border-bottom: 1px solid green;
    transition:all 3s ease;
}

.bloc2 {
    float: right;
    transition: width 600px;
}