:root{
    --color1: #111;
    --color2: #222;
    --color3: #333;
    --color4: #444;
    --color5: #664;
    --color6: #FFF;
    --color7: #FFFFFFCC;

    --color8: yellow;
    --color9: yellowgreen;
    --color10: darkgreen;
    --color11: #009900CC;
    --color12: #CCCC00CC;
    --color: #CC6600CC;
    --color6: #CC0000CC;

}
