body{
    width: 100vw;
    height: 100vh;
}


form{
    width: 70%;
    height: 200px;
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    background-color: darkgray;
    border-radius: 20px;
}
div{
    display: inline-block;
    margin: auto;
    
}
input{
    margin: 5px 20px;
    width: 70%;
    padding-left: 15px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.btn{
    width: 100px;
    height: 30px;
    display: block;
}