<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js" type="module"></script>
    <title>les codes postaux</title>
</head>

<body>
    <div id="app">
        <h1>Recherche de Villes par Code Postal</h1>

        <div id="search-form">
            <label for="search">Entrez un code postal :</label>
            <input type="search" v-model="codeCommune" list="cities" @input="updateSuggestions">

            <datalist id="cities">
                <option v-for="code in codePostaux" value="code.codePostal">{{ code.codePostal }}</option>
                <option v-for="code of codePostaux" value="code.codeCommune">{{ code.nomCommune }}</option>
                <option v-for="code of codePostaux" value="code.nomCommune">{{ code.nomCommune }}</option>
            </datalist>

            <button @click="searchCity">Rechercher</button>
            
        </div>

        <div id="result">
            <div v-if="selectedCity">
                <p>Ville : {{ selectedCity.nomCommune }}</p>
                <p>Code Postal : {{ selectedCity.codePostal }}</p>
            </div>
            <div v-else>
                <p v-if="searchedCity">Aucune information disponible pour cette ville.</p>
                <p v-else>Sélectionnez une ville dans la liste de suggestions.</p>
            </div>
        </div>
    </div>
</body>

</html>