* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: repeat();
    gap: 10px;
    grid-template-areas: "header header" "nav main" "nav footer";
}

header {
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: 5;
    border: 1px solid;
    width: 100%;

}

nav {
    grid-area: nav;
    border: 1px solid;
    grid-row-start: 2;
    grid-row-end: 9;

}

main {
    grid-area: main;
    grid-row-start: 2;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 5;
    border: 1px solid;
}

footer {
    grid-area: footer;
    grid-column-start: 8;
    grid-column-end: 8;
}