@font-face {
    font-family: 'channel-regular';
    src: url('../fonts/channel-webfont.woff');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
html{
    font-size: 65,2%;
}
body{
    font-size: 1.2rem;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/bg_motif.gif');
    background-repeat: repeat;
    font-family: 'satisfy';
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* Header */
header {
    width: 100%;
    height: 100px;
    background-color: #00000081;
    border-bottom: 3px solid #fff;
}

header nav {
    float: right;
    margin-top: 30px;
}

header nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none; 
    padding: 0; 
}
header nav > ul li {
    margin-right: 40px;
    margin-top: 10px;
    position: relative; 
}

header nav > ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'channel-regular';
}

.sous_menu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #00000027;
    padding: 10px; 
}
.sous_menu li{
    border-right:1px solid #fff ;
    border-left: 1px solid #fff ;
    border-bottom: 1px solid #fff ;
    width: 100%;
    height: 100%;
    text-align: center;
}

header nav ul li:hover .sous_menu {
    display: block;

    z-index: 1; 
}
.logo{
    position: absolute;
    top: 70px;
    left: 180px;
}
/* main*/
main{
    width: 100vw;
}
.container{
    background-color: #00000027;
    width: 50vw;
    margin: 10px auto;
}
.container img{
    width: 100%;
}
.container h3{
    text-align: center;
    background-color: #fff;
    color: rgb(208, 4, 4);
}
.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.card{
    position: relative;
    padding: 10px;
    background-image: url('../img/bg_g.png');

}
.card img{
    position: absolute;
    top: 0;
    
    right: 50px;
    width: 30px;
}
.card h1{
    font-family: 'channel-regular';
    color: #fff;
}
.card p{
    text-align: center;
    padding-top: 20px;
}
.card input{
    display: block;
   margin: 20px auto;
    height: 40px;
    width: 120px;
    background-color: grey;
    border: none;
    color: #fff;
}
/* Section */
section{
    width: 100%;

}
.bloc{
    width: 50vw;
    margin: 0 auto;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.selection{
    border: 1px solid red;
    grid-column-start: 1;
    background-color: #42404027;
    
}
.selection h1{
    font-family: 'channel-regular';
    color: #fff;
    text-align: center;
    margin: 10px 0;
    
}
.selection ul{
    
}
.selection ul li{
    padding-left: 40px;
    margin: 15px 0px;
    border-bottom: 1px solid #fff;
    height: 40px;
    
}
.selection ul li a{
    margin: auto 0;
    color: #000;
}
.selection ul li:first-child{
    height: 40px;
    border-top: 1px solid #fff;
    margin-bottom: 10px;
}
.selection ul li img{
    margin-right:  30px;
}
.cadeaux_accessoires{
    grid-column-start: 2 ;
    grid-column-end: 4;
}

