:root{
    --primary-color:  yellowgreen;
    --succes-color: darkgreen;
    --font-color: #fff;
    --color-background:  #000;
}

html{
    font-size: 65.2%;
}
body{
    width: 100vw;
    background-color: var(--color-background);
    color: var(--font-color);
    font-size: 1.6rem;
    font-family: sans-serif, Arial, Helvetica;
}
fieldset{
    width: 200px;
}