* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    gap: 10px;
    grid-template-areas: "header header div" "nav main main " "nav footer footer";

}

header {
    grid-area: header;
    height: 10vh;
    background-color: #BBCCFF;
}

.ads {
    grid-area: div;
    background-color: #BBCCFF;
}

nav {
    grid-area: nav;
    background-color: #BBCCFF;
}

main {
    grid-area: main;
    margin: auto auto;
    background-color: #BBCCFF;
    width: 100%;
    height: 100%;
}


main section {
    width: 90%;
    /* height: 30vh; */
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 138px auto;

}

article {
    width: 100%;
    height: 10vh;
    /* padding: 5px 20px; */
    background-color: #fff;
}

main h1 {
    margin: 20px;
}

footer {
    background-color: #BBCCFF;
    grid-area: footer;
    
}
@media screen and (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "div"
            "footer";
    }

    header,
    nav,
    main,
    .ads,
    footer {
        width: 100vw;
    }

    main section {
        width: 100%;
    }
}