* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    gap: 10px;
    grid-template-areas: "header header div" "nav main main " "nav footer footer";
    
}
header{
    grid-area: header;
    height: 10vh;
    border: 1px solid green;
}

.ads{
    grid-area: div;
    /* border: 1px solid red; */
}
nav{
    grid-area: nav;
    border: 1px solid;
}
main{
    grid-area: main;
    
    
}
section{
    height: 100%;
    width: 100%;
    border: 1px solid red;
    display: grid;
    grid-column: 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
}
main .box_1{
    width: 30vw;
    border: 1px solid ;
    grid-row-start: 1;
}
main .box_2{
    width: 30vw;
    border: 1px solid ;
    grid-row-start: 1;
}
footer{
    grid-area: footer;
    border: 1px solid blue;
}
