@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&family=Satisfy&display=swap');
:root{
    --main-color : #444;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 65.2%;
}
body{
    font-size: 1.6rem;
    font-family: "Roboto" , Arial, Helvetica, sans-serif;

    display: grid;
    grid-template-columns: repeat(6 ,  1fr);
    grid-template-rows: repeat(7,1fr);
    gap: 15px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.box{
    background-color: var(--main-color);
}
/* Header */
header{
    grid-column: 1/ span 6 ;
    grid-row: 1 / 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main{
    grid-column: 1/ span 6;
    grid-row: 2 / 5;
}

section{
    grid-column: 1 / span 6;
    grid-row: 5 / 7;
}
footer{
    grid-column: 1 / span 6;
    grid-row: 7 / 7;
}